
bin/
obj/
out/
.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
publish/
AppPackages/
BundleArtifacts/

Migrations/

**/packages/*
!**/packages/build/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
*.nuget.props
*.nuget.targets
NuGet.Config
.nuget/
.nupkg.metadata

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.csproj.user
*.vbproj.user
*.csproj.GenerateResource.cache
*.csproj.CoreCompileInputs.cache
.project
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/extensions.json
.idea/
*.iws
*.iml
*.ipr
*.ntvs*
*.njsproj
*.sw?
*.swp
*.swo

*.mdf
*.ldf
*.ndf
*.sql
*.dump
*.dmp
*.backup
*.db
*.db-shm
*.db-wal
/RSSReader/rssreader.db*

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnp*
.vite/
.temp/
.cache/
dist/
dist-ssr
build/
.next/
.nuxt/
.vuepress/dist/
.craft/docs/
public/dist/
*.tsbuildinfo
coverage/
.npm/

.env*.local
.env.development.local
.env.test.local
.env.production.local
*.local

logs/
*.log

appsettings.Production.json
appsettings.Development.json

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
._*
*~

*.exe
*.dll
*.pdb
*.ilk
*.lib
*.tmp
*.obj
*.iobj
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.aps
*.ncb
*.opt
*.plg
*.cvsignore
*.modelproj
*.pfx
*.cab
*.msi
*.msm
*.msp
*.msix

*.testresults
*.trx
*.coverage
*.coveragexml
coverage*.json
coverage*.xml
coverage*.info
TestResult.xml
nunit-*.xml

*.key
*.pem
*.crt
*.ssh/
id_rsa
id_rsa.pub
certificate.pfx
certificate.p12

PublishProfiles/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
.axoCover/*
!.axoCover/settings.json
.sass-cache/
Chutzpah*
ipch/
.fake/
.paket/
__pycache__/
*.pyc
.history/
.localhistory/
.vshistory/
.ionide/
